@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Default Light Mode */
  background-color: #f3f4f6; 
  color: #000000;
  font-family: 'Courier New', Courier, monospace; /* Retro font */
  -webkit-font-smoothing: antialiased;
}
.dark body {
  background-color: #0d1117;
  color: #f0f6fc;
}

/* Brutalist Scrollbar */
::-webkit-scrollbar {
  width: 12px;
  background: #e5e7eb;
}
.dark ::-webkit-scrollbar {
  background: #161b22;
}
::-webkit-scrollbar-thumb {
  background: #000;
  border: 2px solid #e5e7eb;
}
.dark ::-webkit-scrollbar-thumb {
  background: #f0f6fc;
  border: 2px solid #161b22;
}